{% extends 'layouts/app.html.twig' %}

{% block title %}New Post{% endblock %}

{% block body %}
    <a class="text-decoration-none font-weight-bold" href="{{ path('post_index') }}">
        < Go Back
    </a>

    <div class="d-flex justify-content-center">
        <div class="card shadow my-3" style="width: 35rem;">
            <div class="card-body">
                <h5 class="card-title">New Post</h5>
                <hr>
                {{ form(newPostform) }}
            </div>
        </div>
    </div>
{% endblock %}
